/* You can add global styles to this file, and also import other style files */

/* Import Angular Material's theming scss */
@use '~@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$teal-palette);

$app-warn: mat.define-palette(mat.$deep-orange-palette);

$app-theme: mat.define-dark-theme($app-primary, $app-accent, $app-warn);

@include mat.all-component-themes($app-theme);
